# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT

.git
.gitignore
.dockerignore
**/bin

# Helm chart dependencies
charts/*/charts
**/*.tgz

# Local and temporary files
**/.DS_Store
.idea
.vscode
**/*.swp
**/*.out
**/*~
**/*.pem
**/.env
**/*.env

# Rendered templates
**/templates/*.rendered
**/templates/*.generated.yaml
**/templates/_*.tpl.rendered

# MegaLinter reports
/megalinter-reports/

# Python environment for meltano
**/.venv
**/venv
**/.meltano
**/__pycache__
**/.mypy_cache
**/.ruff_cache

# More potential Meltano paths
meltano/ui.cfg
meltano/output
meltano/transform/target
meltano/transform/dbt_modules
meltano/transform/logs

# Documentation
**/README.md
**/*.md
LICENSE*

# Test files
**/*_test.go

# Development files
Makefile
