# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
{{- if .Values.nats.consumer.creation }}
apiVersion: jetstream.nats.io/v1beta2
kind: Consumer
metadata:
  name: {{ .Values.nats.consumer.name }}
  namespace: lfx
  {{- if .Values.nats.consumer.keep }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
spec:
  streamName: {{ .Values.nats.consumer.streamName }}
  durableName: {{ .Values.nats.consumer.name }}
  ackPolicy: {{ .Values.nats.consumer.ackPolicy }}
  deliverPolicy: {{ .Values.nats.consumer.deliverPolicy }}
  maxDeliver: {{ .Values.nats.consumer.maxDeliver }}
  ackWait: {{ .Values.nats.consumer.ackWait }}
  maxAckPending: {{ .Values.nats.consumer.maxAckPending }}
  filterSubject: {{ .Values.nats.consumer.filterSubject }}
  description: "Pull consumer for v1-sync-helper to process v1-objects KV bucket changes with load balancing across multiple instances"
{{- end }}
