# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
{{- if .Values.walListener.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-wal-listener-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    component: wal-listener
data:
  config.yml: |
    listener:
      serverPort: {{ .Values.walListener.config.listener.serverPort }}
      slotName: {{ .Values.walListener.config.listener.slotName | quote }}
      refreshConnection: {{ .Values.walListener.config.listener.refreshConnection }}
      heartbeatInterval: {{ .Values.walListener.config.listener.heartbeatInterval }}
      filter:
        tables:
          {{- range $table, $operations := .Values.walListener.config.listener.filter.tables }}
          {{ $table }}:
            {{- range $operation := $operations }}
            - {{ $operation }}
            {{- end }}
          {{- end }}
    logger:
      level: {{ .Values.walListener.config.logger.level }}
      fmt: {{ .Values.walListener.config.logger.fmt }}
    database:
      host: localhost
      port: {{ .Values.walListener.config.database.port }}
      name: {{ .Values.walListener.config.database.name | quote }}
      user: placeholder
      password: placeholder
      enableTLS: {{ .Values.walListener.config.database.enableTLS }}
      {{- if .Values.walListener.config.database.sslMode }}
      sslMode: {{ .Values.walListener.config.database.sslMode | quote }}
      {{- end }}
    publisher:
      type: {{ .Values.walListener.config.publisher.type }}
      address: {{ .Values.walListener.config.publisher.address | quote }}
      topic: {{ .Values.walListener.config.publisher.topic | quote }}
{{- end }}
